@using BLOG.DAL.Entities
@model Category
@{
    ViewBag.Title = "CategoryUpdate";
    Layout = "~/Areas/Dashboard/Views/Shared/_LayoutPage.cshtml";
}

<h2>Kategori Güncelleme</h2>
<div class="container">
    @if (ViewBag.Msg != null)
    {
        <span class="alert alert-success">@ViewBag.Msg</span>

    }
    <div class="row">
        <div class="col-md-offset-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <label style="color:burlywood"><b>Kategori Adı</b></label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Name)</span>
                <label style="color:burlywood"><b>Kategori Açıklaması</b> </label>
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Description)</span>

                <input class="btn btn-primary" type="submit" name="name" value="Kategori Düzenle" />
            }
        </div>
    </div>
</div>

